.vs
/00-PayBase/Base.PayRpository
/00-PayBase/Base.Common/bin/Debug/netstandard2.0
/01-PayEntities/PayEntities/bin/Debug/netstandard2.0
*.dll
/03-PayModels/Admin.PayModel/bin/Debug/netstandard2.0
/04-PayBll/Admin.PayBll/bin/Debug/netstandard2.0
/04-PayBll/Admin.PayBll/obj/Debug/netstandard2.0
/04-PayBll/Merchant.PayBll/bin/Debug/netstandard2.0
/04-PayBll/Merchant.PayBll/obj/Debug/netstandard2.0
/05-PayService/CustomerService.PayService/bin/Debug/netcoreapp2.1
/05-PayService/CustomerService.PayService/obj/Debug/netcoreapp2.1
/05-PayService/Merchant.PayService/bin/Debug/netcoreapp2.1
/05-PayService/Merchant.PayService/obj/Debug/netcoreapp2.1
/03-PayModels/Merchant.PayModel/obj/Debug/netstandard2.0
/03-PayModels/Merchant.PayModel/bin/Debug/netstandard2.0
/03-PayModels/Admin.PayModel/obj/Debug/netstandard2.0
/01-PayEntities/PayEntities/obj/Debug/netstandard2.0
/00-PayBase/Base.Common/obj/Debug/netstandard2.0
/02-PayDal/Customer.Rpository/bin/Debug/netstandard2.0/*.dll
/02-PayDal/Customer.Rpository/obj/Debug/netstandard2.0/*.dll
/02-PayDal/Merchant.Rpository/bin/Debug/netstandard2.0
*.pdb
